/* ESERCIZIO 1 */
.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    background-color: white;
    transition: background-color 3s;
}

/* soluzione  1 */
.ex-1-square:hover {
    background-color: red; 
}

/* ESERCIZIO 2 */
.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 5s;
    transition-timing-function: ease;
}

/* soluzione 2 */
.ex-2-square:active {
    width: 900px;

}

/* ESERCIZIO 3 */
.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
    border-radius: 0%;
    transition: border-radius 2s linear ;
}

/* soluzione 3 */
.ex-3-square:hover{
    border-radius: 50%;
}

/* ESERCIZIO 4 */
.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
    opacity: 1;
    transition: opacity 2s;
}

/* soluzione 4 */
.ex-4-square:hover {
    opacity: 0;
}


/* ESERCIZIO 5 */
.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
    transition: width 2s;
}

/* soluzione 5 */
.ex-5-square:hover{
    transform: scale(1.3);
}

.ex-5-square:active {
    transform: scale(0.5);
}


/* ESERCIZIO 6 */
.ex-6-img, .ex-7-img {
    width: 500px;
    filter: invert(0);
    transition: filter;
}

/* soluzione 6 */
.ex-6-img:hover {
    filter: invert(1);
}

/* soluzione 7 */
.ex-7-img{
    transition: filter 2s;

}

.ex-7-img:hover {
    filter: invert(1) blur(3px);
}

/* soluzione 8 */
.ex-8-img{
    width: 500px;
    border-radius: 0px;
    filter: saturate(none) grayscale(none);
    transition: filter border-radius;
    transition-duration: 5s;
}

.ex-8-img:hover {
    border-radius: 15px;
    filter: saturate(30%) grayscale(20%);

}


/* ESERCIZIO 9 */
.ex-9-img {
    margin: 50px 100px;
    width: 400px;
    border-radius: 0;
    filter: "";
    transform: scale(1);
    transition: border-radius filter transform;
    transition-duration: 3s;
}

/* soluzione 9 */
.ex-9-img:hover{
    border-radius: 15px;
    filter: contrast(20%) grayscale(40%);
    transform: scale(1.5);
}

/* ESERCIZIO 10 */
.ex-10-icon {
    font-size: 60px;
    animation: transform-spin;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

/* soluzione 10 */
@keyframes transform-spin {

    0%{
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
    
}


/* ESERCIZIO 11 */
.ex-11-icon {
    font-size: 60px;
   
    
}

.ex-11-icon:hover {
    animation-name: rotazione-2;
    animation-duration: 2s;
    animation-timing-function: ease-in;

}

@keyframes rotazione-2 {

    0% {
        transform: rotate(0deg);

    }

    10% {
        transform: rotate(35deg);
    }

    20% {
        transform: rotate(70deg);
    }

    30% {
        transform: rotate (110deg);

    }

    40% {
        transform: rotate(150deg);
    }

    50%{
        transform: rotate(190deg);
    }

    60% {
        transform: rotate(220deg);
    }

    75% {
        transform: rotate(260deg);
    }

    


}




.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}




/* soluzione 12 */

.ex-12-button:hover .ex-12-top-white{
    animation-name: left;
    animation-duration: 3s;
}


.ex-12-button:hover .ex-12-bottom-white  {
    animation-name: right;
    animation-duration: 3s;
}

@keyframes left { 

    0% {
        left: 10%;
    }

    50% {
        left: calc(100% - 60px);
    }

    100% {
        left:10%;
    }
       
}

@keyframes right {

    0%{
        right: 20%;
    }

    50% {
        right: calc(100% - 60px);
    }

    100% {
        right: 20%;
    }
}


.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}


.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;

}
/* ESERCIZIO 13 */

.ex-13-button:hover .ex-13-top-white {
    animation: rap 2s linear;

    

}

@keyframes rap {
    
    0%{
        left:10%;
        top: -10px;
    }

    30%{
        left: calc(100% - 15px);
        top: -10px;
    }

    45% {
        left: calc(100% - 15px);
        top:calc(100% - 10px);
    }

    75%{
        left: -15px;
        top:calc(100% - 10px);

    }

    90% {
        left:-15px;
        top:-10px
    }


    
}


